
 /* CustomFooter.css */

 *{
    margin: 0;
    padding: 0;
   
   }
  .footer-container {
    background-color: #323233; 
    padding: 60px 20px 20px 50px;
    font-size: 14px;
    margin-top: 40px;
  }
  
  .col{
    text-align: left;
  }
  .col ul{
    margin-left: -27px;
  }
  .col h5{
    font-size: 25px;
    color: white;
  }
  .col ul{
    list-style: none;
  }
  .col ul li a{
    text-align: left;
    color: white;
  }
  .footer-heading {
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .footer-link {
    display: block;
    margin-bottom: 10px;
    color: #007bff; /* Cor azul padrão para links */
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .sub-footer{
    background-color: #262727; /* Um cinza mais claro */
    text-align: center;
    padding: 20px;
  }
  
  #paragrafo {
    text-align: center;
    color: white;
    margin: 5px 0; /* Espaçamento vertical */
  }
  
  /* Aqui você pode adicionar mais personalizações conforme necessário */
  @media screen and (max-width: 400px) {
    .col h5{
      font-size: 20px;
      color: white;
    }
    .col ul{
      list-style: none;
    }
    .col ul li a{
      text-align: left;
      color: white;
    }
    .sub-footer {
      height: 15vh;
    }
    .sub-footer p{
      text-align: center;
      font-size: 16px;
    }
  
    
  }