.container-background{
    position: relative;
    z-index: 0;
}


.img-background{
    width: 100%;
    height: auto;

}

.titulo-background {
    position: absolute; /* Permite que o título se sobreponha à imagem */
    top: 40%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o posicionamento para garantir centralização exata */
    text-align: center;
    color: white; /* Ajuste a cor conforme necessário */
    font-size: 45px; /* Ajuste o tamanho da fonte conforme necessário */
    z-index: 1; /* Garante que o título esteja acima da imagem */
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}
@media screen and (max-width: 768px) {
    .titulo-background{
        font-size: 35px;
    }
    
}