.container-2{
    background-image: url('../Assets/imagefundo.jpg');
    margin-top: -25px;

}
 .container2 {
    background-size: cover; 
    background-position: center;
    display: flex;
    height: auto;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}

.text2 h2{
    text-align: center;
    margin-top: 20px;
}
.text2 h1{
    text-align: center;
    margin-top: 40px;
}
.text2 p{
    text-align: center;
    margin-top: 20px;
    max-width: 700px;
}


.quad-1{
    font-family: 'Times New Roman', Times, serif;
    background-color: #181755;;
    position: relative;
    width: 240px;
    height: 240px;
    color:  #b4b4b8;
    border-radius: 8px;
    text-align: center;
}
.quad-1 {
    display: inline-block;
    margin: 30px 50px 0px 40px;
} 
.quad-1 h3{
    font-size: 180px;
    opacity: 0.5;
    text-align: center;
}

.quad-1 p{
    font-size: 18px;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 8px;
    margin-top: 30px;
}
.text-over-heading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

h3 {
    /* Adicione estilos adicionais conforme necessário */
    position: relative; /* Garante que o h3 permaneça no fluxo do documento */
    z-index: 0;
}
@media screen and (max-width: 1150px) {
/*     .container2 {
        background-image: url('../Assets/imagefundo.jpg');
        background-size: cover; 
        background-position: center;
        display: flex;
        height: 80vh;
        max-width: 1400px;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
    }
     */
}
@media screen and (max-width: 400px) {
    .container2 {
        background-image: url('../Assets/imagefundo.jpg');
        background-size: cover; 
        background-position: center;
        display: flex;
        height: 95vh;
        margin-top: 20px;
        max-width: 1400px;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
    }
    
}